{% extends 'layout/base.html' %}

{% load static %}

{% block 'title' %} {{ movie.name }} | ABC Movies {% endblock  %}

{% block 'content' %}
<div class="album py-5 bg-light">
    <div class="container">
      {% for message in messages %}
        <div class="alert alert-{{ message.tags }} alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            {{ message | safe }}
        </div>
      {% endfor %}
        <div class="row featurette">
            <div class="col-md-7 order-md-2">
              <h2 class="featurette-heading">{{movie.name}}</h2>
              <p class="text-muted">{{ movie.desc }}</p>
              <table class="table">
                <tbody>
                  <tr>
                    <th scope="row">Cast</th>
                    <td>{{movie.actors}}</td>
                  </tr>
                  <tr>
                    <th scope="row">Genre</th>
                    <td>{{movie.genre}}</td>
                  </tr>
                  <tr>
                    <th scope="row">Rating</th>
                    <td>{{movie.rating}}</td>
                  </tr>
                  <tr>
                    <th scope="row">Year of Release</th>
                    <td>{{movie.release_year}}</td>
                  </tr>
                </tbody>
              </table>
              <div>
                <a href="{% url 'movies:update_movie' movie.id %}" class="btn btn-sm btn-primary">Edit</a>
                <button data-href="{% url 'movies:delete_movie' movie.id %}" class="btn btn-sm btn-danger" id="btn_delete">Delete</button>
              </div>
            </div>
            <div class="col-md-5 order-md-1">
                <img src="{{ movie.poster.url}}" />
            </div>
          </div>
    </div>
</div>    
{% endblock %}

{% block 'custom_scripts' %}
  <script src="{% static 'js/movie.js' %}"></script>
{% endblock %}