{% extends 'layout/base.html' %}

{% block 'title' %} Welcome to ABC Movies {% endblock  %}

{% block 'content' %}
    <section class="jumbotron text-center">
        <div class="container">
            <h1>Welcome to ABC Movies</h1>
            <p class="lead text-muted">Something short and leading about the collection below—its contents, the creator, etc. Make it short and sweet, but not too short so folks don’t simply skip over it entirely.</p>
        </div>
    </section>
    <div class="album py-5 bg-light">
        <div class="container">
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }} alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    {{ message | safe }}
                </div>
            {% endfor %}
            <h3 class="mb-4">Upcoming movies</h3>
            <div class="row">
                {% for movie in upcoming_movies %}
                    <div class="col-md-3">
                        <div class="card mb-4 shadow-sm">
                            <img src="{{ movie.poster.url}}" />
                            <div class="card-body">
                                <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <a type="button" href="{% url 'movies:details' movie.id %}" class="btn btn-sm btn-outline-secondary">View</a>
                                </div>
                                <small class="text-muted">{{ movie.release_year }}</small>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock  %}